<html>
    <head>
        <title>After awesome</title>
    </head>
    <body>
        <h1>After get Infomation</h1>
        <h3>Username : {{info.username}} </h3>
        <h3>Password : {{info.username}} </h3>
        <h3>answer : {{answer}} </h3>
        <img src="data:image/png;base64,{{ref_img}}" alt="image not found" height="250" width="250">
        <h3>predict : {{predict}} </h3>
        <img src="data:image/png;base64,{{real_img}}" alt="image not found" height="250" width="250">
    </body>
</html>